{% extends './layouts.html' %}


{% load static %}
{% block header %}

  <header class="masthead" style="background-image: url({{ post.image.url }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <span class="subheading">{{ post.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock %}




{% block content %}
<div class="p-20">
	{{ post.post_text }}
</div>



{% endblock %}