{% extends './layouts.html' %}

{% load static %}
{% block header %}

  <header class="masthead" style="background-image: url({% static 'blogs/theme/img/profile.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Welcome</h1>
            <span class="subheading">Hello, {{ request.user.username}}</span>
            <br>
            <a class="btn btn-primary" href="/add-post">New Post</a>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock %}


{% block content %}

<div class="row justify-content-center">
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
	    {% endfor %}
	</ul>
	{% endif %}

	<div class="col-sm-6">
		<div class="card p-20">
			<p>{{ request.user.email }}</p>

		</div>
	</div>
</div>


{% endblock %}