{% extends './layouts.html' %}
{% load static %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'blogs/theme/img/banner.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>DJ-Blogging</h1>
            <span class="subheading">Blog By DJ</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	{% if latest_blog_list %}
      	{% for post in latest_blog_list %}
        <div class="post-preview">
          <a href="{% url 'blogs:show_post' post.slug %}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
          </a>
          <p class="post-meta">Posted on {{ post.pub_date }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <hr>

        `<!-- Pager -->
        <div class="clearfix">

          {% if page_obj.has_previous %}
          <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}"> &larr; Back</a>
          {% endif %}
          <span class="text-center" style="margin-left:30%;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
          <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
          {% endif %}
        </div>


      </div>
    </div>
  </div>

  <hr>


{% endblock %}







