{% extends './layouts.html' %}
{% load static %}
{% block header %}

  <header class="masthead" style="background-image: url({% static 'blogs/theme/img/contact-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login</h1>
            <span class="subheading">Login yourself with DJ-Blogging</span>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
	<div class="col-sm-6">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="text-danger"  {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="list-style-type: none;"> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
		<div class="card p-20">
			<form method="post" class="from-group">
				{% csrf_token %}
				{{form|crispy}}
				<p>Don't have an accoount? Create one <a href="/register">here</a></p>
				<button type="submit" class="btn btn-success">Login</button>	
			</form>
		</div>
	</div>
</div>


{% endblock %}